BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
SpaceAfterTemplateKeyword: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Empty
ReflowComments: false
