# Base style
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

# Spaces
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Function formatting
AllowShortFunctionsOnASingleLine: All
BreakBeforeBraces: Attach

# Comments
ReflowComments: false

# Include sorting
SortIncludes: false

# Alignment
AlignAfterOpenBracket: DontAlign

# Other
DerivePointerAlignment: false
PointerAlignment: Left
